<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>500 Erreur interne du serveur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>500 - Erreur interne du serveur</h1>
        <p>Nous sommes désolés, mais quelque chose a mal tourné de notre côté. S'il vous plaît, essayez de rafraîchir la page ou revenez plus tard.</p>
        <div class="links">
            <a href="/">Retour à l'accueil</a>
        </div>
    </div>
</body>
</html>
